* {
  padding: 0px;
  margin: 0px;
}

html, body {
  min-height: 100vh;
}

body {
  min-width: 320px;
  background-color: #f9f9f9;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}